body{
  background-color: rgb(167, 184, 199);
}
.img{
  width: 400px;
  height: 250px;
}
.tittl{
  text-align:  center;
  background-color: gray;
  display: block;
  margin-inline: auto;
  width: 50%;
  border-radius: 5px;
  
}
.card{
  z-index: 3;
  background-color: rgb(138, 138, 41);
  border-style: outset;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;

}